# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# OS files
.DS_Store

# Vector database
vector_db/

# Environment variables
.env

# Notebook checkpoints
.ipynb_checkpoints/

temp.pdf